<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>OpenIDM</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
     <link rel="stylesheet" href="css/bootstrap-glyphicons.css"/>
  </head>
  <body>
   <div openidm-controller class="container">
     <div ng-if="! ctrl.isAuthenticated">
        <h1>Login</h1>
        <oi-login isAuthenticated="ctrl.isAuthenticated"></oi-login>
     </div>
      <div ng-if="ctrl.isAuthenticated">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
              <a href="#/" ng-click="ctrl.logout()">Logout</a>
          </div>
        </div>
        <div class="row">
          <tabset>
            <tab heading="Users" disable="false">
              <oi-users></oi-users>
            </tab>
             <tab heading="New User Form">
                <new-user></new-user>
            </tab>
            <tab heading="Sync">
              <sync-panel></sync-panel>
            </tab>
             <tab heading="Config">
              <oi-config-panel></oi-config-panel>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <script type="application/dart" src="openidm_console.dart"></script>
    <script type="text/javascript"  src="packages/browser/dart.js"></script>
  </body>
</html>
